<div class="customer-details" [class.open]="isOpen">
    <!-- Collapsed Header -->
    <div class="summary" (click)="toggleDetails()">
      <div class="name">
        <!-- {{ customerForm.value.fullName || 'Customer Details' }} -->
          Address Details
      </div>
      <div class="arrow">
        <i class="icon" [ngClass]="{ 'down': !isOpen, 'up': isOpen }"></i>
      </div>
    </div>
  
 <!-- Static View (Read-only) -->
<div class="details-form" *ngIf="isOpen && !isEditing && isAddOrder">
  <div class="form-row">
    <div class="form-group">
      <label>Full Name</label>
      <input type="text" [value]="customerDetails.fullName" disabled />
    </div>
    <div class="form-group">
      <label>Mobile Number</label>
      <input type="text" [value]="customerDetails.mobileNumber" disabled />
    </div>
  </div>
  <div class="form-group full-width">
    <label>Address</label>
    <textarea rows="3" [value]="customerDetails.address" disabled></textarea>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label>City</label>
      <input type="text" [value]="customerDetails.city" disabled />
    </div>
    <div class="form-group">
      <label>State</label>
      <input type="text" [value]="customerDetails.state" disabled />
    </div>
  </div>
  <div class="form-actions">
    <button class="cancel-btn" (click)="isEditing = true">Edit</button>
    <button class="save-btn" (click)="continue()">Continue</button>
  </div>
</div>


  
    <!-- Editable Form -->
    <form [formGroup]="customerForm" class="details-form" *ngIf="isOpen && isEditing && isAddOrder" >
      <div class="form-row">
        <div class="form-group">
          <label>Full Name</label>
          <input type="text" formControlName="fullName" />
          <small class="error" *ngIf="fullName?.touched && fullName?.errors?.['required']">Full Name is required</small>
        </div>
        <div class="form-group">
          <label>Mobile Number</label>
          <input type="text" formControlName="mobileNumber" />
          <small class="error" *ngIf="mobileNumber?.touched && mobileNumber?.errors?.['required']">Mobile Number is required</small>
        </div>
      </div>
  
      <div class="form-group full-width">
        <label> Address</label>
        <textarea rows="3" formControlName="address"></textarea>
        <small class="error" *ngIf="address?.touched && address?.errors?.['required']">Address is required</small>
      </div>
  
      <div class="form-row">
        <div class="form-group">
          <label>City/Town</label>
          <input type="text" formControlName="city" />
          <small class="error" *ngIf="city?.touched && city?.errors?.['required']">City is required</small>
        </div>
        <div class="form-group">
          <label>State</label>
          <input type="text" formControlName="state" />
          <small class="error" *ngIf="state?.touched && state?.errors?.['required']">State is required</small>
        </div>
      </div>
      <div class="form-actions">
        <button class="cancel-btn" (click)="cancel()">Cancel</button>  
        <button type="submit" class="save-btn"(click)="submitForm()">Save</button>
     
      </div>
    </form>
  </div>
  