<div class="books-container">
    <div class="books-header">
      <h1 class="books-title">Books <span class="books-count">( {{books.length}} items )</span></h1>
      
      <mat-form-field appearance="outline" class="sort-dropdown">
        <mat-label>Sort by relevance</mat-label>
        <mat-select>
          <mat-option value="relevance" (click)="fetchBooksByPage(1)">Relevance</mat-option>
          <mat-option value="price-low" (click)="sortBook(true)">Price: Low to High</mat-option>
          <mat-option value="price-high" (click)="sortBook(false)">Price: High to Low</mat-option>
          <!-- <mat-option value="newest">Newest First</mat-option> -->
        </mat-select>
      </mat-form-field>
    </div>
  
    <div class="books-grid">
      <div class="book-card" *ngFor="let book of books" (click)="onBookClick(book)">
        <div class="book-image-container">
          <img [src]="book.bookImage" alt="{{ book.bookName }}" class="book-image">
          <div class="out-of-stock" *ngIf="book.quantity===0">OUT OF STOCK</div>
        </div>
        <div class="book-details">
          <h3 class="book-title">{{ book.bookName }}</h3>
          <p class="book-author">by {{ book.author }}</p>
          
          <div class="book-rating">
            <div class="book-rating">
              <span class="rating-score">4.5★</span>
              <span class="rating-count">(20)</span>
            </div>
            <!-- <span class="review-count">({{ book.reviewCount }})</span> -->
          </div>
          
          <div class="book-price">
            <span class="current-price">Rs. {{ book.price- book.discountPrice }}</span>
            <span class="original-price">Rs. {{ book.price}}</span>
          </div>
        </div>
      </div>
    </div>
  
    <div class="pagination">
      <button mat-icon-button [disabled]="currentPage === 1" (click)="fetchBooksByPage(currentPage - 1)">
        <mat-icon>chevron_left</mat-icon>
      </button>
      
      <ng-container *ngFor="let page of [1, 2, 3, 4, 5]">
        <button 
          mat-mini-fab 
          [color]="currentPage === page ? 'primary' : ''" 
          (click)="fetchBooksByPage(page)"
          class="page-button"
        >
          {{ page }}
        </button>
      </ng-container>
      
      <button mat-icon-button [disabled]="currentPage === totalPages" (click)="fetchBooksByPage(currentPage + 1)">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>